body{
   
    font-family: 'Lato', sans-serif;
    .wrapper{
        margin:0 auto;
        display: flex;
        .sidebar{
            background: rgb(144, 206, 211);            
            flex:0.2;
            padding: 20px;
            .tags{
                
                a{
                    background: lightseagreen;
                    padding: 5px;
                    border-radius: 4px;
                    display: inline-block;
                    margin: 5px;
                    color:white;
                    font-weight: bold;
                }
            }
            
        }
        .main{           
            flex:1;
            padding: 20px;
            section{
                background-color:#f9fcff;
            }
        }
    }
    
}
a{
    text-decoration: none;
    
}