.tag-machine-learning {
  background: #2c3a5c;
}
.tag-fab {
  background: #e64661;
}
.tag-perception {
  background: #4264ae;
}
.tag-ui {
  background: #1b3671;
}
.tag-dev {
  background: #922336;
}
.tag-motion {
  background: #53286b;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
pre {
  max-height: 45vh;
}
.main {
  padding: 2em;
  background: #eaf0f1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.main section {
  background-color: white;
  min-height: 200px;
  border-radius: 3px;
  margin-bottom: 2em;
  padding: 1em 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.main section h2,
.main section h5 {
  display: inline-block;
}
.main section .details {
  float: right;
  text-align: right;
}
.main section img {
  max-width: 100%;
}
.sidebar {
  background-image: url('bg.jpg');
  background-size: cover;
}
.intro {
  text-align: center;
  font-size: 1.15em;
  color: #eaf0f1;
  line-height: 1.7em;
  padding: 2em 3em;
  opacity: 0.7;
}
.tags {
  padding: 2em;
}
.tag {
  padding: 0.4em;
  border-radius: 4px;
  margin: 5px;
  color: white;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 750px) {
  .sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .intro {
    text-align: right;
  }
  .main {
    margin-left: 30%;
    padding: 3em;
  }
  .main section {
    margin-bottom: 3em;
    width: fit-content;
    max-width: 94%;
  }
  .main section p {
    max-width: 70%;
  }
  .tags {
    padding: 3em;
  }
  .tags a {
    float: right;
  }
}
